* {
    box-sizing: border-box;
}

.modal {
    margin: 0 auto;
    position: absolute;
    width: 548px;
    height: 342px;
    left: 685px;
    top: 331px;

    background: #FFFFFF;
    border-radius: 4px;
}